<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.kifio.kreader.presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".reader.ReaderActivity"
            android:label="Reader"
            android:exported="true"/>

<!--        <service android:name=".MediaService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            tools:ignore="ExportedService">-->

<!--            <intent-filter>-->
<!--                <action android:name="androidx.media2.session.MediaSessionService" />-->
<!--            </intent-filter>-->
<!--        </service>-->


    </application>
</manifest> 